<h4>Datos Estadísticos</h4>
<p>
<span>El número de preguntas :  <%= estadisticas.preguntas %> </span><br/>
El número de comentarios totales : <%= estadisticas.comentarios %></span><br/>
El número medio de comentarios por pregunta : <%= estadisticas.media %> </span><br/>
El número de preguntas sin comentarios : <%= estadisticas.preguntasSC %> </span><br/>
El número de preguntas con comentarios :<%= estadisticas.preguntasCC %> </span><br/>
</p>